{% extends "base.html" %}

<!-- load wagtailcore_tags by adding this: -->
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}


{% block body_class %}template-homepage{% endblock %}

<!-- replace everything below with: -->
{% block content %}
{{ page.body|richtext }}

Below is your email:
{{ page.contact_email|richtext }}

<p>My blogs:</p>
{% for entry in blog_entries %}

<a href="{{ entry.url }}">
    {% image entry.feed_image width-100 %}
    {{ entry.title }}</a>
{% endfor %}

{% endblock %}